@import "../../styles/sass-things"
@import "../../../node_modules/swiper/dist/css/swiper.min.css"

.carousel
  background-color: $black-color
  padding: 1.8rem 0
  height: 491px

.carousel-slide
  width: 59.5vw