.carousel-outer.appear
	.swiper-container.carousel.appear__item
		.swiper-wrapper
			-for(var i = 0; i < 3; i ++)
				img.swiper-slide.carousel-slide(src=require(`./img/${i+1}.png`) alt="some alt info")