@import "../../styles/sass-things"
@import "../../../node_modules/swiper/dist/css/swiper.min.css"

.carousel
  background-color: $black-color
  padding: 1.8rem 0
  height: 50vw
  min-height: 400px

.carousel-slide
  width: 30vw
  min-width: 265px
  margin: 0 2.8vw 0 2vw
  transform: translate(1rem)