@import sass-things

html
  font-size: 18px

body
  font-size: 1rem
  font-family: 'HelveticaNeueLTPro-BdCn', sans-serif
  min-width: 640px
  transition: .2s

.link
  display: inline-block
  font-size: 18px
  line-height: .9
  border-bottom: 1px solid
  font-family: 'HelveticaNeueLTPro-Lt', sans-serif
  transition: .2s
  &:hover
    opacity: .7