//colors
$accent-color-blue: #4af7f7
$accent-color-pink: #fa59fa
$hint-color: #a4a4a4
$light-border-color: #cecece
$error-color: #ff3d43
$white-color: #ffffff
$black-color: #000000

//etc
$min-width: 360px
$common-transition-duration: .2s

//media-queries
$breakpoint-640: 640px
$breakpoint-1680: 1680px
$breakpoint-1920: 1920px

=media-query($breakpoint)
  @media (min-width: $breakpoint)
    @content