- var name = 'Alex Nwokolo'

.biography.appear
	.biography__title.appear__item=name
	.biography__photo.appear__item
		img(src=`${require('./4.jpg')}` alt=name)
	.biography__text
		p.appear__item Born in 1963 in Lagos, Nigeria. Alex Nwokolo is one of the leading artists on the West African art scene. He enjoys music, painting, football, nature, travelling and trying his hands on new ideas.
		p.appear__item Alex completed his Higher National Diploma (HND),with a distinction at the Auchi Polytechnic School of Art and Design, Auchi,  Edo State in 1991, followed by a Master of Fine Art (MFA) at the University of Benin in 2000. Alex was the recipient of the American Ambassadors Prize in 1991, in recognition of his artistic achievements in painting; the Guinness Certificate of Merit in 2004; he was honoured by the School of Art and Design, Auchi Polytechnic, Auchi with the exceller's Award in 2010 and in 2014, he received the society of Nigerian Artists (SNA), Lagos chapter, Distinguished Master Artists Award.
		p.appear__item He has had 10 solo exhibitions and well over 65 group exhibitions at top galleries in Nigeria, France, United Kingdom, Holland, South Africa and the United States. Some of which include the Johannesburg FNB Art Fair 2010 and 2011; The Allen Hutton Gallery, Whetstone, London 1992; Transcending Boundaries 2013 at the gallery in cork street, London; African Way of Art, Galerie  Vendome, France 2011. He has also participated in various auctions, which include the Phillips De Pury Africa Now auction, USA,2010 ; Bonham's Africa Now auction, UK, 2012-2016; Art house contemporary auction, Lagos 2008-2018 and Lagos Art auction TKMG 2011-2018.
		p.appear__item He is a member of the Society of Nigerian Artists (SNA) and the Guild of professional Fine Artists of Nigeria (GFA).