.biography
  display: flex
  flex-flow: column
  align-items: center
  margin: calc(6vw + 15px) 0
  padding: 0 10vw

.biography__title
  font-size: calc(1vw + 42px)
  line-height: 49px
  font-family: 'HelveticaNeueLTPro-BdCn', sans-serif

.biography__photo
  margin: calc(6vw + 15px) 0
  max-height: 388px
  img
    height: 100%
    margin: auto

.biography__text
  font-size: calc(.7vw + 9px)
  line-height: 1.6
  font-family: 'HelveticaNeueLTPro-Lt', sans-serif
  letter-spacing: -.015rem
  p
   line-height: inherit
   margin-bottom: calc(1.8vw + 5px)