@import "../../styles/sass-things"

.biography
  display: flex
  flex-flow: column
  align-items: center
  margin: calc(6vw + 15px) 0
  padding: 0 10vw

.biography__title
  font-size: calc(1vw + 42px)
  line-height: 49px
  font-family: 'HelveticaNeueLTPro-BdCn', sans-serif

.biography__photo
  margin: calc(6vw + 15px) 0
  max-height: 388px
  img
    height: 100%
    margin: auto

.biography__text
  font-size: calc(.2vw + 14px)
  line-height: 1.6
  font-family: 'HelveticaNeueLTPro-Lt', sans-serif
  letter-spacing: -.015rem
  p
   line-height: inherit
   margin-bottom: calc(1.8vw + 5px)

@media all and (min-width: $breakpoint-1680)
  .biography
    flex-flow: row
    flex-wrap: wrap
  .biography__title
    width: 100%
    text-align: center
    margin-bottom: 7rem
  .biography__text
    width: 50%
  .biography__photo
    width: 50%
    display: flex