- var name = 'Alex Nwokolo'

.top-block
	include logo.svg
	.top-block__title Contemporary African Art:
		br
		| “A force for change - Interventions”
		br
		b.top-block__title_bold=name
		|  - Solo Exhibition
	.top-block__date 22-28 November 2018