extends ../base

block title
	| Caretta Gallery | Alex Nwokolo

block content
	include ../../components/carousel/carousel
	include ../../components/biography/biography
	include ../../components/brochure/brochure
	include ../../components/gallery/gallery
	include ../../components/about/about

block script
