.about
	.about__item
		.about__title Interventions Art Critique
		.about__text
			p The postcolonial awareness, in the first place, hosts the freedom associated with contemporary artistic expressions.
			p The work of art is a symbolic code or metaphor that is made through the artist’s synthesizing will. He creates forms relying on his or her understanding of what society has offered. As symbolic codes, artworks are appropriations that use ideas and images that are familiar as re-presentations depending on an artist’s perspective and inspiration. Hence the cluster of metaphors in this exhibition is governed by the title Interventions using the conversant tropes such as faces and the family of forms from the environment. Nwokolo presents these symbolic gestures in the human portrait in two registers. He draws on the environment addressing the interrelatedness of the things of nature and how the human is located within the environment exploring or adapting to the promptings of nature.
			a(href="#").link.about__link Download PDF

	.about__item
		.about__title Caretta Gallery
		.about__text
			p Caretta embodies the spirit and energy of the Afro-Atlantic Diaspora, providing a platform to empower new and established African artists on an international scene. We operate a virtual gallery across established locations in London and Continental Europe. Founded in 2013, Caretta’s aim is simple: to ensure Contemporary African Art is considered an asset class by virgin investors; and to provide diversification for established investors. We constantly expand our private collection as well as advise clients on purchases and investment opportunities. Our interest is in socio-political and economic evolution across Africa, and we work with artists that speak to this voice.