@import "../../styles/sass-things"

.about
  margin: 0 10vw
  padding-bottom: 7.3vw
  border-bottom: 1px solid #d8d8d8

.about__item
  margin-bottom: calc(10vw + 10px)
  &:last-of-type
    margin-bottom: 0

.about__title
  font-size: calc(1vw + 19px)
  margin-bottom: 5.8vw

.about__text
  font-family: 'HelveticaNeueLTPro-Lt', sans-serif
  line-height: 1.6
  font-size: calc(.7vw + 9px)
  p
    line-height: inherit
    margin-bottom: calc(1.8vw + 5px)

@media screen and (min-width: $breakpoint-1680)
  .about__item
    display: flex

  .about__title, .about__text
    flex: 1