| New Caretta Gallery Website is
b.footer__bold.appear__item Coming Soon
a.appear__item(href="mailto:info@carettagallery.com") info@carettagallery.com
.footer__soc
	a.appear__item(href="#") Twitter /
	|
	a.appear__item(href="#") Instagram
