.footer
  display: flex
  flex-flow: column
  align-items: center
  font-family: 'HelveticaNeueLTPro-Lt', sans-serif
  font-size: calc(.2vw + 14px)
  margin: calc(6vw + 15px) 10vw
  letter-spacing: .01rem
  a
    border-bottom: 1px solid transparent
    transition: .2s
    &:hover
      border-bottom-color: currentColor

.footer__bold
  font-size: calc(3.5vw + 8px)
  font-family: 'HelveticaNeueLTPro-BdCn', sans-serif
  margin-top: .7rem
  &:after
    display: flex
    content: ''
    border-bottom: 2px solid #727171
    width: 25px
    margin: calc(2vw + 20px) auto

.footer__soc
  margin-top: 1rem
  letter-spacing: .03rem
  a
    margin-right: .25rem
  .twitter
    position: relative
    margin-right: .6rem
    &:after
      content: '/'
      position: absolute
      right: -.5rem

/*becouse edge -_- */
@supports (-ms-ime-align: auto)
  .appear.active
    .footer__soc
      a
        transition-delay: 1.1s
        opacity: 1 !important