.footer
  display: flex
  flex-flow: column
  align-items: center
  font-family: 'HelveticaNeueLTPro-Lt', sans-serif
  font-size: calc(.2vw + 14px)
  margin: calc(6vw + 15px) 10vw
  letter-spacing: .01rem
  a
    transition: .2s
    &:hover
      opacity: .7

.footer__bold
  font-size: calc(3.5vw + 8px)
  font-family: 'HelveticaNeueLTPro-BdCn', sans-serif
  margin-top: .7rem
  &:after
    display: flex
    content: ''
    border-bottom: 2px solid #727171
    width: 25px
    margin: calc(2vw + 20px) auto

.footer__soc
  margin-top: 1rem
  letter-spacing: .03rem
  a
    margin-right: .25rem