- var name = 'Alex Nwokolo'

.appear__item
	include logo.svg
.header__title.appear__item Contemporary African Art:
	br
	| “A force for change - Interventions”
	br
	b.header__title_bold=name
	|  - Solo Exhibition
.header__date.appear__item 22-28 November 2018