- var name = 'Alex Nwokolo'

include logo.svg
.header__title Contemporary African Art:
	br
	| “A force for change - Interventions”
	br
	b.header__title_bold=name
	|  - Solo Exhibition
.header__date 22-28 November 2018