.header
  position: relative
  display: flex
  flex-flow: column
  align-items: center
  margin-bottom: 4.5rem
  svg
    min-width: 136px
    min-height: 136px
    width: 11vw
    height: 11vw

.header__title
  text-align: center
  font-size: calc(3vw + 8px)
  line-height: 41px
  margin: calc(10vw + 10px) 0
  letter-spacing: .01rem

.header__title_bold
  font-family: 'HelveticaNeueLTPro-HvIt', sans-serif

.header__date
  font-family: 'Poynter Gothic Text Light', sans-serif
  font-size: calc(1vw + 12px)
  line-height: 15px
  font-weight: 300