.gallery
  display: flex
  flex-flow: column
  align-items: center
  font-size: 56px
  line-height: 76px
  padding-bottom: calc(4.5vw + 10px)
  margin: calc(10vw + 15px) 10vw
  border-bottom: 1px solid #d8d8d8

.gallery__date
  display: flex
  flex-flow: column
  align-items: center
  font-size: calc(1.6vw + 25px)
  &:after
    display: flex
    content: ''
    border-bottom: 2px solid #727171
    width: 30px
    margin: calc(1.5vw + 20px) 0 calc(.5vw + 20px)

.gallery__address
  font-size: calc(1.6vw + 25px)
  text-align: center
  margin-top: calc(1vw + 0px)
  line-height: 1.35

.gallery__link
  margin-top: 1.1rem

.gallery__bottom
  font-family: 'HelveticaNeueLTPro-Lt', sans-serif
  font-size: calc(.8vw + 10px)
  text-align: center
  line-height: 1.5
  &:before
    display: flex
    content: ''
    border-bottom: 2px solid #727171
    width: 30px
    margin: calc(2vw + 20px) auto

.gallery__email
  margin-left: .3rem