.gallery
	.gallery__date 22-28 November 2018
	.gallery__address Aria Art Gallery
		br
		| 4 Mandeville Place
		br
		| London, W1U 2BG
	a(href="#").gallery__link.link Show on Google Maps
	.gallery__bottom Private View 22 November 2018
		br
		| 6:30PM Onwards
		br
		| RSVP by Nov. 16 to
		a.link.gallery__email(href="mailto:info@carettagallery.com") info@carettagallery.com